body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 16px;
    line-height: 1.62;
}
a, button {
    transition: all .3s linear;
}
a:hover {
    color: #fdc32e;
    text-decoration: none;
}
a:focus {
    text-decoration: none;
}
.header-orange-line {
    background-color: #fdc32e;
    height: 20px;
    position: relative;
    z-index: 11;
}
.header-flex-block {
    /*background-color: #241415;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}
.header-flex-block a {
    color: #fff;
}
.main-banner-block img {
    width: 100%;
}
.header-work-time-block, .header-address-block, .header-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}
.header-icon {
    margin-right: 20px;
}
.header-address-text a {
    display: block;
}
.header-logo {
    margin-top: -20px;
}
.container-relative {
    position: relative;
    z-index: 1;
}
.cart-sum-block {
    display: flex;
    margin-bottom: 10px;
}
.header-cart-buy a {
    color: #fff;
    border: 2px solid #fdc32e;
    border-radius: 5px;
    padding: 2px 20px;
}
.header-cart-buy a:hover {
    background-color: #fdc32e;
    color: #000;
}
.cart-absolut-number {
    background-color: #fdc32e;
    border-radius: 50px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -11px;
    right: -16px;
}
.cart-image-number {
    position: relative;
    margin-right: 25px;
}
.header-logo {
    text-align: center;
    width: 20%;
}
.main-banner-block {
    margin-top: -94px;
    position: relative;
}
.header-cart {
    width: 20%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar-default {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    position: absolute;
    top: 100px;
}
.navbar-collapse {
    padding: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fdc32e;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    color: #fff;
}
.navbar-default .navbar-nav > .active a::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #fdc32e;
    position: absolute;
    bottom: 0;
    left: 0;
}
.main-button-catalog {
    display: inline-block;
    background-color: #fdc32e;
    color: #000;
    padding: 15px 50px;
    border-radius: 5px;
    border: 2px solid #fdc32e;
    font-size: 24px;
}
.main-button-catalog:hover {
    background-color: transparent;
    color: #fff;
}
.description-banner-block {
    text-align: center;
    width: 425px;
    position: absolute;
    top: 160px;
    color: #fff;
}
.description-banner-block h1 {
    font-weight: bold;
    font-size: 50px;
}
.banner-description {
    font-weight: bold;
    font-size: 24px;
    margin: 20px 0 30px 0;
}
.hand-back img {
    width: 100%;
}
.hand-back {
    padding-left: 14%;
    margin: 40px 0;
}
.suitcase-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.suitcase-certificate-block .main-button-catalog:hover {
    color: #000;
}
.suitcase-certificate-title h2 {
    font-size: 38px;
    font-weight: bold;
    color: #fdc32e;
}
.suitcase-certificate-desk {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0 30px;
}
.border-line-block {
    box-shadow: 0px 0px 62px -2px rgba(119,119,119,0.46);
    margin: 40px 0;
}
.suitcase-image img {
    transform: scale(1.3);
    width: 87%
}
.suitcase-image {
    width: 290px;
}
.main-banner-block {
    background-image: url("../images/banner.png");
    width: 100%;
    height: 777px;
    background-position: top left,right;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.shares-right {
    text-align: right;
    font-weight: bold;
}
.shares-item {
    background-color: #fdc32e;
    border-radius: 10px;
    margin-left: -10px;
    padding: 30px 30px 20px 46px;
    flex-grow: 1;
}
.shares-item-active {
    background-color: #fd812e;
    width: 40%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    z-index: 4;
    flex-grow: 1;
}
.shares-block-flex {
    color: #fff;
    display: flex;
    align-items: flex-end;
}
.shares-item .shares-item-title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}
.shares-item-active .shares-item-title {
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    margin-bottom: 15px;
}
.shares-item-desk {
    text-align: right;
    font-size: 18px;
}
.shares-item-text {
    padding-right: 10px;
}
.shares-item-icon {
    display: flex;
    align-items: flex-end;
}
.shares-item.orange {
    background-color: #fda32e;
}
.shares-item:nth-child(2) {
    z-index: 3;
    padding-top: 26px;
}
.shares-item:nth-child(3) {
    z-index: 2;
    padding-top: 16px;
}
.shares-item:nth-child(4) {
    z-index: 1;
    padding-top: 6px;
}
.shares-item-active .shares-item-text {
    padding-top: 45px;
}
.shares-item-active .shares-item-icon {
    padding: 80px 30px 20px 20px;
}